* {
  font-family: "Indie Flower", Arial;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
 
.nav-link:hover {
  background-color: rgb(35, 99, 16);
  border-radius: 10%;
}

.banner{
  position: relative;
  top: 0;
  left: 0;
}

.heading {
  position: relative;
  display: inline-block;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  background-color: rgba(0, 0, 0, 0.37);
  filter: brightness(0.4);
}

.welcome{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: lighter;
  font-size: 3vw;
  text-shadow: 10px 2px 6px #000;
}

.welcomeimg{
  position: absolute;
  width: 15rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infocards{
  padding: 20px;
  align-content:space-around;
  align-items: center;
  text-align: justify;
}

.contentcard{
  padding: 10px;
}
