* {
  font-family: "DM Sans", Arial;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.nav-link:hover {
  background-color: rgb(35, 99, 16);
  border-radius: 10%;
}

.banner {
  position: relative;
  top: 0;
  left: 0;
}

.heading {
  position: relative;
  display: inline-block;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  background-color: rgba(0, 0, 0, 0.37);
  filter: brightness(0.4);
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: lighter;
  font-size: 2.8vw;
  font-family: "DynaPuff", arial;
  text-shadow: 10px 2px 6px #000;
}

.welcomeimg {
  position: absolute;
  width: 15rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  position: absolute;
  margin-top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  background-color: #000;
  width: 90%;
}

.infocards {
  padding: 20px;
  align-content: space-between;
  align-items: center;
  text-align: justify;
}

.contentcard {
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 3%;
  border: 1px solid #000;
}

.carousel-inner {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 2%;
  box-shadow: 1px 1px 5px #000;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 576px) {
  .carousel-inner {
    height: 250px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 1px 1px 1px #000;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profile {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 16rem;
  height: 16rem;
  margin-bottom: 10px;
  overflow: visible;
  align-self: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-status {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
  border: 2px solid white;
}

.card-title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.stars {
  text-align: center;
  margin-bottom: 10px;
}

.card-body p {
  margin-bottom: auto;
}

.cardservice {
  height: auto;
  min-height: 200px;
  max-height: 250px;
  width: auto;
  background-color: white;
  box-shadow: 0px 0px 2px #000;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  transition: background-color 0.5s, transform 0.3s;

  h4 {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
  }

  box-icon,
  material-symbols-outlined {
    height: 100px;
    width: auto;
    fill: green;
    transition: background-color 1s, transform 0.5s;
  }
}

.cardservice:hover {
  background-color: rgb(45, 45, 45);
  color: white;
  box-shadow: 0px 0px 7px rgb(255, 255, 255);
  transform: scale(1.05);

  box-icon {
    transform: scale(1.4);
    fill: white;
  }
}

.cardprice {
  .morebutton {
    background-color: rgb(50, 192, 50);
    color: white;
    font-weight: bold;
  }
  transition: background-color 0.2s, transform 0.5s;
}

.cardprice:hover {
  color: white;

  .bone {
    fill: #fff;
    transform: scale(1.05);
    transform: scale(1.05);
  }
  .morebutton {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
  }
}

.cardprice:hover box-icon {
  fill: #fff o !important ;
}

.cardprice.card1:hover {
  background-color: green;
}

.cardprice.card2:hover {
  background-color: rgb(34, 34, 212);
}

.cardprice.card3:hover {
  background-color: rgb(226, 33, 33);
}

.cardprice.card4:hover {
  background-color: #efb810;
}

.titleprices {
  font-family: "DynaPuff", arial;
  text-align: center;

  span {
    text-align: end;
    align-items: end;
    align-content: end;
    position: absolute;
    left: 80%;
    transform: translate(-20%);
  }
}

.infoplancard {
  font-size: 16px;
  padding-bottom: 20px;
  text-align: justify;
}

.pricescard {
  height: auto;
  width: auto;
}

.Alertdialogs {
  * {
    color: black;
  }
  .modal-title {
    font-family: "DynaPuff", arial;
  }
  .modal-body {
    font-size: 15px;
    text-align: justify;
  }
}

.footer {
  h2,
  h4 {
    color: white;
    font-family: "DynaPuff", arial;
  }
}
